:root {
  --primary-color: #f3f4f6;
  --secondary-color: #eaeaea;
  --text-color: #1c1c1c;
}

* {
  font-family: "Poppins", Sans-Serif;
}

/* navigation bar */
.navbar {
  width: 100%;
  z-index: 9999;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.active-color {
  background-color: white;
  box-shadow: 0px 4px 7px -4px rgba(0, 0, 0, 0.1);
}

.navcon .nvl a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.logo-osis {
  width: 8em;
}

.navbar .navcon button {
  outline: none;
  box-shadow: none;
  /* background-color: red; */
  border: none;
}

.navbar .navcon button span {
  width: 24px;
}
/* navigation bar */

/* home page */
header {
  background-color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .homepage .header-box {
    padding-top: 0;
  }

  /* .homepage .header-box img {
    width: 400px;
    display: block;
    margin-inline: auto;
  } */
}


/* home page */
